.category-page {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 48px;
    row-gap: 24px;
    height: fit-content;
    margin-bottom: 48px;
}

.category-page__title {
    margin: 16px 0 0 0;
    grid-column: span 5;
}

.category-page__description {
    grid-column: span 5;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .category-page {
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
    }

    .category-page__title {
        grid-column: span 2;
        padding: 0 12px;
    }

    .category-page__description {
        grid-column: span 2;
        padding: 0 12px;
    }
 }