.confirmation-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

@media (max-width: 768px) {
    .confirmation-page {
        padding-top: 72px;
    }
}