header {
    margin: 24px auto 0;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
}

.logo {
    height: 144px;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__search-bar {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4px;
    padding-right: 8px;
}

.header__profile-icon {
    color: #054D3B;
}

.header__basket-section {
    display: flex;
    position: relative;
}

.header__basket-icon {
    margin-top: 2px;
    color: #054D3B;
    cursor: pointer;
}

.header__basket-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Spectral';
    color: #fff;
    background-color: #8FBD4F;
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 24px;
    top: 24px;
}

.header__continue-shopping {
    display: flex;
    align-items: flex-end;
}

.header__link {
    text-decoration: none;
}

.span-one {
    grid-column: span 1;
}

.span-two {
    grid-column: span 2;
}

.span-three {
    grid-column: span 3;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}